* {
	padding: 0;
	margin:0;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	top:0;
	left: 0;
	background-color: #c1c1c1;
}

div, section, nav, figure, textarea
{
	box-sizing: border-box;
	margin: 0;
}

.page_grid {
	display: grid;
	grid-template-rows: minmax(35px, auto) minmax(0, 1fr) minmax(35px, auto);
	grid-template-columns: 1fr;
}

#content
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(40px, auto) minmax(0, 1fr);
}

#footer
{
    padding: 8px 20px 0;
    border-top: 1px solid crimson;
	background-color: #666;
	color: #333;
	text-shadow:  2px 2px crimson;
	text-align: center;
	
}

/* RBSS - Component Styles */

.context-bar {
	grid-column: 1 / -1;
	padding: 4px 20px;
	border-top: 1px solid crimson;
	border-bottom: 1px  solid crimson;
	background-color: #999;
}

.scrolling_box {
	padding: 4px 20px;
    border-bottom: 1px solid #333;
    background-color: #c1c1c1;
    overflow-x: hidden;
	overflow-y: scroll;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(4.16%, 1fr));
} 

#rbss_tools {
	text-align: center;
	grid-column: 1 / -1;
}

.tooltile {
	display: inline-block;
	font-size: 3rem;
	border: 1px solid crimson;
	min-height: 320px;
	min-width: 150px;
	background-color: #999;
	text-align: center;
	margin: 20px 10px;
	padding:20px;

}

.tooltile:hover {
	background-color: #666;
	outline: 4px crimson solid;
	cursor: pointer;
	color: crimson;

}

/*  -- styles to clean up below -- */


#lowerBar
{
	width: 100%;
	z-index: 5; 
	position: fixed;
	bottom:0;
	left:0;
}

#lowerBar[class*="collapsed"]
{
	background-color: #333;
	height: 35px;
}

#lowerBar[class*="collapsed"]:hover
{
	background-color: #666;
	height: 35px;
	cursor: pointer;
}

#lowerBar[class*="expanded"]
{
	background-color: #111;
	height: 300px;
}

#lowerBar[class*="expanded"]
{
	background-color: #111;
	height: 300px;
}
#lowerBar[class*="expanded"] #lowerBarContent
{
	display: inline-block;
	text-align: center;
	
}

#lowerBar #lowerBarContent
{
	display: none;
	width: 80%;
	overflow:hidden;
	margin: 5px 10% 25px 10%;
}

#lowerBar #outputlog
{
	width: 100%;
	height: 270px;
	display: block;
	text-align: left;
	padding: 10px;
	background-color: #e7e7e7;
	font-family: monospace;
	position: relative;
}

#outputlog .out_actorLabel
{
	font-weight: bold;
}

#outputlog .out_actorText
{

}

#outputlog .out_actorA
{
	color: red; 
}

#outputlog .out_actorB
{
	color: blue;
}

#outputlog #outputControls
{
	position: absolute;
	bottom: 0px;
	right: -20px;
}

#actorA {
	float:left;
	width: 60%;
	height: 100%;
	
}

#actorB {
	float:left;
	width: 40%;
	height: 100%;
	overflow:auto;
	border: 1px #999 solid;
}



#actorA #actions
{
	float: left;
	height: 100%;
	width: 25%;
	padding-top: 70px;
	overflow: auto;
}

#actorA #actions ul
{
	list-style:none;
}

#actorA #actions li
{
	border: 1px #999 solid;
	border-radius: 0 10px 10px 0;
	width: 60%;
	padding-left: 5px;
	
}

#actorA #actions li:hover
{
	background-color: #999;
	color: white;
	cursor: pointer;
	width: 65%;
}

#actorA .details
{
	border: 1px #999 solid;
	float: left;
	height: 100%;
	/*margin-right: 25%;*/
	width: 75%;
	margin: 0;
	overflow:auto;
	background-color: gray;
}

#actorB .details
{
	background-color: gray;
	height: 100%;
	margin: 0;
	overflow: auto;

}

#actorA textarea, #actorB textarea
{
	width: 100%;
	min-height: 300px; 
	resize: none;
}

.actorName
{
	font-size: 1.5rem;
	text-align: center;
	margin: 5px 0 5px 0;
	cursor: pointer;

}

.actorId
{
	font-size: 0.8rem;
}
.actorId:before
{
	content: '[';
}
.actorId:after
{
	content: ']';
}

.actorOptions
{
	font-size: 1.0rem;
	text-align: center;
	margin: 5px 0 5px 0;
	background-color: #999;
	color: #FFF;

}

.actorOptions span:hover
{
	color: green;
	cursor: pointer;

}

#outputlog
{
	overflow: scroll;
}

.actorSubSectionContainer
{
	width: 100%;
}

.actorAttributesContainer
{
	width: 100%;
}

.actorAttributesMatrix
{
	width: 100%;
	border: 2px solid #333;
	margin: 0px;
	padding: 0px;
	text-align: center;
	min-width: 300px;
}

.actorAttributesMatrix td:first-of-type
{
	border-right: 1px solid #666;
	margin: 0;
	padding: 5px;
	text-align: right;
} 
.actorAttributesMatrix td
{
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	margin: 0px;
}

/*Components */
.foldable.category
{
	background-color:#333;
	cursor: pointer;
	color: #999;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 5px;
	margin: 5px 0 0 0;
}

.foldable.content
{

}

.foldable.collapsed + .foldable.content
{
	display: none;
}

.foldable.expanded + .foldable.content
{
	display: block;
}


/*  GRID Helpers */
.g-v-24 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)) !important;
	grid-template-rows: auto;
}

.g-h-24 {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(40px, 1fr)) !important;
	grid-template-columns: auto;
}


/* GRID Mods */
.g-fit-cover {
	object-fit: cover;
}

.g-fit-contain {
	object-fit: contain;
}

.g-flow-dense {
	grid-auto-flow: dense;
}

.g-flow-column {
	grid-auto-flow: column;
}

.g-flow-row {
	grid-auto-flow: row;
}

.g-align-center {
	align-items: center;
}

.g-align-flex-start {
	align-items: flex-start;
}
/*  */


/*   */
.g-row {
	grid-column: 1 / -1;
	width: 100%;
}

.g-col {
	grid-row: 1 / -1;
	height: 100%;
}
/*   */


/* Cols  */
.g-col-24 {
	grid-column: span 24;
	width: 100%;
}

.g-col-23 {
	grid-column: span 23;
	width: 100%;
}

.g-col-22 {
	grid-column: span 22;
	width: 100%;
}

.g-col-21 {
	grid-column: span 21;
	width: 100%;
}

.g-col-20 {
	grid-column: span 20;
	width: 100%;
}

.g-col-19 {
	grid-column: span 19;
	width: 100%;
}

.g-col-18 {
	grid-column: span 18;
	width: 100%;
}

.g-col-17 {
	grid-column: span 17;
	width: 100%;
}

.g-col-16 {
	grid-column: span 16;
	width: 100%;
}

.g-col-15 {
	grid-column: span 15;
	width: 100%;
}

.g-col-14 {
	grid-column: span 14;
	width: 100%;
}

.g-col-13 {
	grid-column: span 13;
	width: 100%;
}

.g-col-12 {
	grid-column: span 12;
	width: 100%;
}

.g-col-11 {
	grid-column: span 11;
	width: 100%;
}

.g-col-10 {
	grid-column: span 10;
	width: 100%;
}

.g-col-9 {
	grid-column: span 9;
	width: 100%;
}

.g-col-8 {
	grid-column: span 8;
	width: 100%;
}

.g-col-7 {
	grid-column: span 7;
	width: 100%;
}

.g-col-6 {
	grid-column: span 6;
	width: 100%;
}

.g-col-5 {
	grid-column: span 5;
	width: 100%;
}

.g-col-4 {
	grid-column: span 4;
	width: 100%;
}

.g-col-3 {
	grid-column: span 3;
	width: 100%;
}

.g-col-2 {
	grid-column: span 2;
	width: 100%;
}

.g-col-1 {
	grid-column: span 1;
	width: 100%;
}

/* Rows  */
.g-row-24 {
	grid-row: span 24;
	height: 100%;
}

.g-row-23 {
	grid-row: span 23;
	height: 100%;
}

.g-row-22 {
	grid-row: span 22;
	height: 100%;
}

.g-row-21 {
	grid-row: span 21;
	height: 100%;
}

.g-row-20 {
	grid-row: span 20;
	height: 100%;
}

.g-row-19 {
	grid-row: span 19;
	height: 100%;
}

.g-row-18 {
	grid-row: span 18;
	height: 100%;
}

.g-row-17 {
	grid-row: span 17;
	height: 100%;
}

.g-row-16 {
	grid-row: span 16;
	height: 100%;
}

.g-row-15 {
	grid-row: span 15;
	height: 100%;
}

.g-row-14 {
	grid-row: span 14;
	height: 100%;
}

.g-row-13 {
	grid-row: span 13;
	height: 100%;
}

.g-row-12 {
	grid-row: span 12;
	height: 100%;
}

.g-row-11 {
	grid-row: span 11;
	height: 100%;
}

.g-row-10 {
	grid-row: span 10;
	height: 100%;
}

.g-row-9 {
	grid-row: span 9;
	height: 100%;
}

.g-row-8 {
	grid-row: span 8;
	height: 100%;
}

.g-row-7 {
	grid-row: span 7;
	height: 100%;
}

.g-row-6 {
	grid-row: span 6;
	height: 100%;
}

.g-row-5 {
	grid-row: span 5;
	height: 100%;
}

.g-row-4 {
	grid-row: span 4;
	height: 100%;
}

.g-row-3 {
	grid-row: span 3;
	height: 100%;
}

.g-row-2 {
	grid-row: span 2;
	height: 100%;
}

.g-row-1 {
	grid-row: span 1;
	height: 100%;
}