* {
	padding: 0;
	margin:0;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	top:0;
	left: 0;
	background-color: #c1c1c1;
}

div, section, nav, figure, textarea
{
	box-sizing: border-box;
	margin: 0;
}

.page_grid {
	display: grid;
	grid-template-rows: minmax(35px, auto) minmax(0, 1fr) minmax(35px, auto);
	grid-template-columns: 1fr;
}

#content
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(40px, auto) minmax(0, 1fr);
}

#footer
{
    padding: 8px 20px 0;
    border-top: 1px solid crimson;
    background-color: #666;
}

/* RBSS - Component Styles */

.context-bar {
	grid-column: 1 / -1;
	padding: 4px 20px;
	border-top: 1px solid crimson;
	border-bottom: 1px  solid crimson;
	background-color: #999;
}

.scrolling_box {
	padding: 4px 20px;
    border-bottom: 1px solid #333;
    background-color: #c1c1c1;
    overflow-x: hidden;
	overflow-y: scroll;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
} 


#rbss_tools {
	text-align: center;
	grid-column: 1 / -1;
}

.tooltile {
	display: inline-block;
	font-size: 3rem;
	border: 1px solid crimson;
	min-height: 320px;
	min-width: 150px;
	background-color: #999;
	text-align: center;
	margin: 20px 10px;
	padding:20px;

}

.tooltile:hover {
	background-color: #666;
	outline: 4px crimson solid;
	cursor: pointer;
	color: crimson;

}

/*  -- styles to clean up below -- */


#lowerBar
{
	width: 100%;
	z-index: 5; 
	position: fixed;
	bottom:0;
	left:0;
}

#lowerBar[class*="collapsed"]
{
	background-color: #333;
	height: 35px;
}

#lowerBar[class*="collapsed"]:hover
{
	background-color: #666;
	height: 35px;
	cursor: pointer;
}

#lowerBar[class*="expanded"]
{
	background-color: #111;
	height: 300px;
}

#lowerBar[class*="expanded"]
{
	background-color: #111;
	height: 300px;
}
#lowerBar[class*="expanded"] #lowerBarContent
{
	display: inline-block;
	text-align: center;
	
}

#lowerBar #lowerBarContent
{
	display: none;
	width: 80%;
	overflow:hidden;
	margin: 5px 10% 25px 10%;
}

#lowerBar #outputlog
{
	width: 100%;
	height: 270px;
	display: block;
	text-align: left;
	padding: 10px;
	background-color: #e7e7e7;
	font-family: monospace;
	position: relative;
}

#outputlog .out_actorLabel
{
	font-weight: bold;
}

#outputlog .out_actorText
{

}

#outputlog .out_actorA
{
	color: red; 
}

#outputlog .out_actorB
{
	color: blue;
}

#outputlog #outputControls
{
	position: absolute;
	bottom: 0px;
	right: -20px;
}

#actorA {
	float:left;
	width: 60%;
	height: 100%;
	
}

#actorB {
	float:left;
	width: 40%;
	height: 100%;
	overflow:auto;
	border: 1px #999 solid;
}



#actorA #actions
{
	float: left;
	height: 100%;
	width: 25%;
	padding-top: 70px;
	overflow: auto;
}

#actorA #actions ul
{
	list-style:none;
}

#actorA #actions li
{
	border: 1px #999 solid;
	border-radius: 0 10px 10px 0;
	width: 60%;
	padding-left: 5px;
	
}

#actorA #actions li:hover
{
	background-color: #999;
	color: white;
	cursor: pointer;
	width: 65%;
}

#actorA .details
{
	border: 1px #999 solid;
	float: left;
	height: 100%;
	/*margin-right: 25%;*/
	width: 75%;
	margin: 0;
	overflow:auto;
	background-color: gray;
}

#actorB .details
{
	background-color: gray;
	height: 100%;
	margin: 0;
	overflow: auto;

}

#actorA textarea, #actorB textarea
{
	width: 100%;
	min-height: 300px; 
	resize: none;
}

.actorName
{
	font-size: 1.5rem;
	text-align: center;
	margin: 5px 0 5px 0;
	cursor: pointer;

}

.actorId
{
	font-size: 0.8rem;
}
.actorId:before
{
	content: '[';
}
.actorId:after
{
	content: ']';
}

.actorOptions
{
	font-size: 1.0rem;
	text-align: center;
	margin: 5px 0 5px 0;
	background-color: #999;
	color: #FFF;

}

.actorOptions span:hover
{
	color: green;
	cursor: pointer;

}

#outputlog
{
	overflow: scroll;
}

.actorSubSectionContainer
{
	width: 100%;
}

.actorAttributesContainer
{
	width: 100%;
}

.actorAttributesMatrix
{
	width: 100%;
	border: 2px solid #333;
	margin: 0px;
	padding: 0px;
	text-align: center;
	min-width: 300px;
}

.actorAttributesMatrix td:first-of-type
{
	border-right: 1px solid #666;
	margin: 0;
	padding: 5px;
	text-align: right;
} 
.actorAttributesMatrix td
{
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	margin: 0px;
}

/*Components */
.foldable.category
{
	background-color:#333;
	cursor: pointer;
	color: #999;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 5px;
	margin: 5px 0 0 0;
}

.foldable.content
{

}

.foldable.collapsed + .foldable.content
{
	display: none;
}

.foldable.expanded + .foldable.content
{
	display: block;
}