/* Modifiers */
.zui-invis {
    visibility: hidden !important;
}

.zui-hidden {
    visibility: hidden !important;
    z-index: -999999 !important;
    position: fixed !important;
}

.zui-noDisplay {
    display: none !important;
}

.bgClear {
    background-color: transparent !important;
}


.zui-component {
    position: relative;
    /* box method, font, color, etc*/
}

.zui-component.status-active	{
    border: 2px solid #333 !important; 
}

.zui-component.status-inactive	{
    border: 1px solid #666 !important; 
    color: #666;
}

.zui-component.status-disabled	{
    border: 1px solid #999 !important; 
    color: #999 !important;
    pointer-events: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zui-component.status-disabled *	{
    user-select: inherit !important;
}

.zui-component.status-disabled::before {
    content: '\f056 ';
    font-family: 'FontAwesome';
    color:#666;
    position: absolute;
    z-index: 100;
    top:5px;
    left:5px;
}

/* Partials */
.zui-screen {
    position: absolute;
    display: table;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    pointer-events: none;
}

.zui-message {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

#dialogLayer {
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background-color: transparent;
}


#dialogLayer .overlay {
    background-color: rgba(55,55,55,0.85);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#dialogLayer .dialogContainer {
    position: relative;
    height: 100%;
    width: 100%;
}


/*  GRID TESTING */

.zui-dialog.darken,
.overlay-bg {
    background-color: rgba(55,55,55,0.85);
}

#dialogLayer .zui-dialog {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 75% 10%;

    grid-template-areas:
    "...... ...... ......"
    "...... dialog ......"
    "...... ...... ......";
}

.zui-dialog-body {
    position: relative;
    grid-area: dialog;
}

.zui-base-panel {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #999;
    padding: 2px;
    overflow: hidden;
}


.zui-dialog-title-bar {
    min-height: 20px;
    background-color: #333;
    padding: 12px 20px;
    color: #c1c1c1;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currntly */
}

.zui-drag .zui-dialog-title-bar {
    cursor: move;
}


.zui-dialog-content {
    min-height: 50px;
    padding: 12px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.zui-dialog-button-bar {
    min-height: 20px;
    background-color: #333;
    background-color: #333;
    padding: 12px 20px;
}

.active .zui-base-panel {
    background-color: #f00;
}

.zui-base-panel > .edge {
    background-color:#c1c1c1;
    cursor: initial;

    position: relative;
    
    display: grid;
    grid-template-rows: minmax(20px, auto) minmax(50px, 1fr) minmax(20px, auto);
    max-height: 75vh;
}


.zui-dialog-loading-panel {

    border: 2px solid crimson;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    font-size: 2.0rem;
    background-color: #333;
    color: #c1c1c1;

    pointer-events: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/*  END GRID TESTING */

.zui-dialog .titleBar {
    padding: 8px;
    background-color: #999;
    cursor: move;
    overflow: auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 5;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currntly */
}
.zui-dialog .titleBar .buttons {
    float: right;
}
.zui-dialog .footer {
    background-color: #999;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 8px;
}
.zui-dialog .footer .buttons {
    float: right;
    overflow: auto;
}

.zui-dialog .content {
    position: absolute;
    margin: 45px 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-y: auto;
    z-index: 2;
    padding: 10px;
}

.zui-dialog .content:after {
    content: "";
    display: block;
    height: 50px;
    width: 100%;
}


/*  Resize Grab-Handles */
.zui-dialog .resize-N {
    position: absolute;
    cursor: ns-resize;
    top: 0;
    left: 10%;
    right: 10%;
    height: 10%;
}
.zui-dialog .resize-NW {
    position: absolute;
    cursor: nw-resize;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
}

.zui-dialog .resize-NE {
    position: absolute;
    cursor: ne-resize;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
}			

.zui-dialog .resize-S {
    position: absolute;
    cursor: ns-resize;
    bottom: 0;
    left: 10%;
    right: 10%;
    height: 10%;
}			

.zui-dialog .resize-SE {
    position: absolute;
    cursor: se-resize;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 10%;
}			

.zui-dialog .resize-SW {
    position: absolute;
    cursor: sw-resize;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 10%;
}			

.zui-dialog .resize-E {
    position: absolute;
    cursor: ew-resize;
    right: 0;
    top: 10%;
    bottom: 10%;
    width: 10%;
}			

.zui-dialog .resize-W {
    position: absolute;
    cursor: ew-resize;
    left: 0;
    top: 10%;
    bottom: 10%;
    width: 10%;
}
