/* TOOLBAR STYLES */
.toolbar-container {
    border: dotted #333 1px;
    list-style: none;
    font-size: 0;
}

.toolbar-button:first-child {
    margin-left: 0;
}

.toolbar-button:last-child {
    margin-right: 0;
}