<div class="edge zui-dialog-confirm">
    <div class="titleBar">
        <span class="title">Confirmation</span>
        <span class="buttons"></span>
    </div>
    <div class="content"> 
        <p>
            <% if(typeof query !== 'undefined') {%>
                <%= query %>
            <% } else { %>
                'Do you want to continue?'
            <% } %>
        </p>
    </div>
    <div class="footer">
        <span class="buttons">
            <button class="confirmPanel">
                <% if(Array.isArray(buttonLabels) && buttonLabels.length > 0) {%>
                    <%= buttonLabels[0]  %>
                <% } else { %>
                   Confirm
                <% } %>
            </button>
            <button class="dismissPanel">
                <% if(Array.isArray(buttonLabels) && buttonLabels.length > 1) {%>
                    <%= buttonLabels[1]  %>
                <% } else { %>
                    Cancel
                <% } %>
            </button>
        </span>
    </div>
</div>