<div class="row_one">
    <div class="photo_col">
        <div class="stripe"></div>
        <div class="photo_box">PHOTO</div>
    </div>
    <div class="tab_col">
        <div class="tabs_row">
            <span>TAB 1</span>
            <span>TAB 2</span>
            <span>TAB 3</span>
            <span>TAB 4</span>
        </div>
        <div class="tabs_content_row">
            Tab Content
        </div>
    </div>
</div>

<div class="row_two">
    <div class="tab_col">
        <div class="tabs_row">
            <span>TAB 1</span>
            <span>TAB 2</span>
            <span>TAB 3</span>
            <span>TAB 4</span>
        </div>
        <div class="tabs_content_row">
            Tab Content
        </div>
    </div>
</div>