<div class="row_one g-row g-v-24">
    <div class="photo_col g-col-8">
        <div class="stripe"></div>
        <div class="photo_box">PHOTO</div>
    </div>
    <%= topTab %>
</div>

<div class="row_two g-row g-v-24">
    <div class="tab_col g-col-16">
        <div class="tabs_row">
            <span>TAB 1</span>
            <span>TAB 2</span>
            <span>TAB 3</span>
            <span>TAB 4</span>
        </div>
        <div class="tabs_content_row">
            Tab Content
        </div>
    </div>
</div>