<div class="form_bounds">
    <div class="g-row g-v-24">
        <div>
            <label for="actor_name">Actor's Name</label>
            <input id="actor_name" type="text" name="actor_name" placeholder="Dwight K. Schrute">
            <button><i class="fa fa-random" title="Randomize"></i></button>
        </div>
    </div>
    <div class="g-row g-v-24">
        <div>
            <label for="actor_background">Background</label>
            <textarea 
                id="actor_background"
                name="actor_background"
                title="This text will be used to describe / introduce the character"
                placeholder="Dwight is trained in the art of surveillance and is a former Lackawanna County volunteer sheriff's deputy. He has a purple belt in Goju-Ryu karate and is the senpai at his dojo."
            ></textarea>
        </div>
    </div>
    <div class="g-row g-v-24">
        <div>
            <label for="actor_accent_color">Accent Color</label>
            <input id="actor_accent_color" type="color" name="actor_accent_color" title="This color will be associated with this character">
            <button><i class="fa fa-random" title="Randomize"></i></button>
        </div>
    </div>
    <div class="g-row g-v-24">
        <div>
            <label for="actor_accent_glyph">Accent Glyph</label>
            <input id="actor_accent_glyph" type="text" name="actor_accent_glyph" title="This glyph will be associated with this character">
            <button><i class="fa fa-random" title="Randomize"></i></button>
        </div>
    </div>
</div> 