<div class="row_one g-row g-v-24">
        <div class="photo_col g-col-5">
            <div class="stripe"></div>
            <div class="photo_box">PHOTO</div>
        </div>
        <div class="tab_row_one g-col-15"></div>
</div>

<div class="row_two g-row g-v-24">
    <div class="tab_row_two"></div>
</div>